/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


&mt {
  //  flavor = "tap-preferred";
   // tapping_term_ms = <200>;
};

/ { 

    combos {
        compatible = "zmk,combos";

        combo_del {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp DEL>;
        };
        
         combo_backspace {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&kp BSPC>;
        };
        
         combo_backslash {
            timeout-ms = <50>;
            key-positions = <8 9>;
            bindings = <&kp BACKSLASH>;
        };
        
         combo_hyphen {
            timeout-ms = <50>;
            key-positions = <13 14>;
            bindings = <&kp MINUS>;
        };
        
         combo_equals {
            timeout-ms = <50>;
            key-positions = <15 16>;
            bindings = <&kp EQUAL>;
        };
        
          combo_quote_mod {
            timeout-ms = <50>;
            key-positions = <18 19>;
            bindings = <&mt LGUI SQT>;
        };
        
          combo_numlayer {
            timeout-ms = <15>;
            key-positions = <30 33>;
            bindings = <&tog 1>;
        };
          combo_reset {
            timeout-ms = <50>;
            key-positions = <1 2 7 8>;
            bindings = <&reset>;
        };
          combo_bootloader {
            timeout-ms = <15>;
            key-positions = <3 4 5 6>;
            bindings = <&bootloader>;
        };
          combo_caps_word {
            timeout-ms = <15>;
            key-positions = <31 32>;
            bindings = <&caps_word>;
        };
        
        
    };

        keymap {
                compatible = "zmk,keymap";
/*                         
                                                 reset
                           ┌─────┬─────────────────┴─────────────────┬─────┐
                           │     │                                   │     │
                           │     │            bootloader             │     │
                           │     │     ┌─────┬─────┴─────┬─────┐     │     │
                  |  q  |  w  |  f  |  p  |  b  |     |  j  |  l  |  u  |  y  |  ;  |
                  |    DEL    |     |     |     |     |     |     |     |     \     |

                  |  a  |  r  |  s  |  t  |  g  |     |  m  |  n  |  e  |  i  |  o  |
                  | lt2 |     |     |     |     |     |     |     |     |     | lt3 |
                  |     |     |     |     |     |     |     |     |     |     '     |
                  |    BSP    |     |     -     |     |     =     |     |    MOD    |

                  |  z  |  x  |  c  |  d  |  v  |     |  k  |  h  |  ,  |  .  |  /  |
                  | CTL |     |     |     |     |     |     |     |     |     | CTL |

                                    | SPC | ESC |     | TAB | ENT |
                                    | SFT | CTL |     | ALT | MOD |   
                                       │     └─────┬─────┘     │
                                       │       caps_word       │
                                       │                       │
                                       └───────────┬───────────┘
                                                 ltog1
*/

       		default_layer {
		bindings = <
		&kp Q &kp W &kp F &kp P &kp B 						&kp J &kp L  &kp U    &kp Y   &kp SEMI 
		&lt 2 A &kp R &kp S &kp T &kp G 			        	        &kp M &kp N &kp E &kp I &lt 3 O
		&mt LCTL Z &kp X &kp C &kp D &kp V				        &kp K &kp H  &kp CMMA &kp DOT &mt LCTL FSLH
          				&mt LSFT SPC &mt LCTL ESC  				&mt LALT TAB &mt LGUI RET
		>;
		};

/*
                |  !  |  @  |  {  |  }  |  &  |     | INS |  7  |  8  |  9  |  *  |
                |    DEL    |     |     |     |     |     |     |     |     \     |

                |  #  |  $  |  (  |  )  |  *  |     |  0  |  4  |  5  |  6  |  +  |
                | lt2 |     |     |     |     |     |     |     |     |     | lt3 |
                |    BSP    |     |     -     |     |     =     |     |    MOD    |

                |  %  |  ^  |  [  |  ]  |  `  |     |SYSRQ|  1  |  2  |  3  |  /  |

                                  | ( ) | ( ) |     | ( ) | ( ) |
*/

       		number_layer {
		bindings = <
		&kp EXCL &kp AT &kp LBRC &kp RBRC &kp AMPS 						&kp INS &kp N7  &kp N8    &kp N9   &kp ASTRK 
		&lt 2 HASH &kp DLLR &kp LPAR &kp RPAR &kp ASTRK 			        	      &kp N0 &kp N4 &kp N5 &kp N6 &kp PLUS
		&kp PRCNT &kp CARET &kp LBKT &kp RBKT &kp GRAVE				        &kp PSCRN &kp N1  &kp N2 &kp N3 &kp SLASH
          				&trans &trans               &trans &trans
		>;
		};

/*
                | ( ) | ( ) | HOM | END | ( ) |     | ( ) | ( ) |Docs-|Docs+| ( ) |

                | ( ) | TAB | C-← | C-→ | ( ) |     | ( ) |  ←  |  ↓  |  ↑  |  →  |

                | ( ) |S-TAB| PGD | PGU | ( ) |     | ( ) | ( ) |Zoom-|Zoom+| ( ) |

                                  | ( ) | ( ) |     | ( ) | ( ) |
*/

       		movement_layer {
		bindings = <
    &trans &trans &kp HOME &kp END &trans                 &trans &trans &kp LC(LA(MINUS)) &kp LC(LA(EQUAL)) &trans 
    &trans &kp TAB &kp LC(LEFT) &kp LC(RIGHT) &trans      &trans &kp LEFT &kp DOWN &kp UP &kp RIGHT 
    &trans &kp LS(TAB) &kp PG_DN &kp PG_UP &trans      &trans &trans &kp LC(MINUS) &kp LC(EQUAL) &trans 
                         &trans &trans      &trans &trans               
		>;
		};

/* 
                | Fn1 | Fn2 | Fn3 | Fn4 |     |     |     |     |     |     |     |

                | Fn5 | Fn6 | Fn7 | Fn8 |     |     |     |     |     |     |     |

                | Fn9 | F10 | F11 | F12 |     |     |     |     |     |     |     |

                                  |     |     |     |     |     |
*/

       		media_layer {
		bindings = <
    &trans &trans &trans &trans &trans      &trans &trans &trans &trans &trans 
    &trans &trans &trans &trans &trans      &trans &trans &trans &trans &trans 
    &trans &trans &trans &trans &trans      &trans &trans &trans &trans &trans 
                         &trans &trans      &trans &trans               
		>;
		};


		
	};
};

/* empty layers for easy creation later

/* 
                |     |     |     |     |     |     |     |     |     |     |     |

                |     |     |     |     |     |     |     |     |     |     |     |

                |     |     |     |     |     |     |     |     |     |     |     |

                                  |     |     |     |     |     |
*/

       		empty_layer {
		bindings = <
    &trans &trans &trans &trans &trans      &trans &trans &trans &trans &trans 
    &trans &trans &trans &trans &trans      &trans &trans &trans &trans &trans 
    &trans &trans &trans &trans &trans      &trans &trans &trans &trans &trans 
                         &trans &trans      &trans &trans               
		>;
		};
*/
